{% extends "sites_kine/base.html" %}


{% block menu %}
 <title>Conditions d'Utilisation - Korima Tech</title>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/">Service</a></li>
          <li><a class="nav-link scrollto" href="/">Contact</a></li>
          <li><a class="nav-link scrollto" href="{% url 'equipement:equipement' %}">Equipements de rééducation</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
{% endblock %}



{% block hero %}
<br><br><br><br>
{% endblock %}




{% block main %}
<style>
    p {
        text-align: justify;
        font-size: 16px; /* Vous pouvez ajuster la taille de police selon vos préférences */
    }
    body {
        font-family: 'Arial', sans-serif;
    }
</style>
    <!-- Services Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center mx-auto mb-5">
                <h1 class="text-primary" style="letter-spacing: 5px;">Conditions d'Utilisation de la Plateforme de Suivi Personnalisé en Kinésithérapie</h1>
            </div>
            <div class="row">

                <p><strong>Date d'entrée en vigueur :</strong></p>

                <p>Merci de bien vouloir lire attentivement les présentes conditions d'utilisation avant d'accéder ou d'utiliser la plateforme de suivi personnalisé en kinésithérapie (ci-après dénommée "Korima Tech"). L'utilisation de la Plateforme implique l'acceptation pleine et entière des conditions énoncées ci-dessous. Si tu n'acceptes pas ces conditions, nous te prions de ne pas utiliser la Plateforme.</p>

                <h2>1. Utilisation de la Plateforme (Korima Tech)</h2>

                <h3>1.1. Conformité aux Lois et Conditions</h3>

                <p>1.1.1. En utilisant la Plateforme Korima Tech, tu t'engages à respecter toutes les lois et réglementations applicables, y compris celles spécifiques à la kinésithérapie et à la protection des données dans la juridiction où tu utilises la Plateforme.</p>

                <p>1.1.2. Tout usage de la Plateforme contraire aux lois en vigueur ou aux présentes conditions peut entraîner la résiliation immédiate de ton accès à la Plateforme et d'autres mesures appropriées, y compris des poursuites judiciaires si nécessaire.</p>

                <h3>1.2. Création de Compte et Informations d'Inscription</h3>

                <p>1.2.1. Certains services et fonctionnalités de la Plateforme Korima Tech peuvent nécessiter la création d'un compte utilisateur. En t'inscrivant, tu acceptes de fournir des informations exactes, complètes et à jour lors de l'inscription.</p>

                <p>1.2.2. Tu es responsable de maintenir l'exactitude de tes informations d'inscription Korima Tech. En cas de modification de tes informations, tu t'engages à les mettre à jour rapidement afin de garantir leur exactitude en tout temps.</p>

                <p>1.2.3. Nous nous réservons le droit de suspendre ou de résilier ton compte Korima Tech et/ou de refuser l'accès à la Plateforme si nous avons des raisons de croire que les informations fournies sont inexactes, incomplètes ou ne respectent pas les présentes conditions.</p>

                <h3>1.3. Confidentialité et Sécurité du Compte</h3>

                <p>1.3.1. Tu es responsable de maintenir la confidentialité de ton compte utilisateur Korima Tech, de ton mot de passe et de tout autre identifiant de connexion associé à la Plateforme.</p>

                <p>1.3.2. Tu reconnais que toute utilisation de la Plateforme Korima Tech avec tes identifiants de connexion est réputée être effectuée par toi-même. Tu es responsable de toutes les activités qui se déroulent sous ton compte.</p>

                <p>1.3.3. En cas de perte, de vol ou de divulgation non autorisée de tes identifiants de connexion Korima Tech, tu t'engages à nous en informer immédiatement afin que des mesures appropriées puissent être prises pour protéger ton compte et tes informations.</p>

                <p>1.3.4. Nous déclinons toute responsabilité pour toute perte ou dommage résultant de l'utilisation non autorisée de ton compte Korima Tech, que tu aies signalé ou non cette utilisation non autorisée.</p>

                <p>En acceptant ces conditions, tu reconnais et acceptes pleinement les obligations liées à l'utilisation de la Plateforme Korima Tech conformément à ces dispositions.</p>

                <h2>2. Suivi Personnalisé en Kinésithérapie (Korima Tech)</h2>

                <h3>2.1. Objectif du Suivi Personnalisé</h3>

                <p>2.1.1. La Plateforme Korima Tech est spécifiquement conçue pour offrir un suivi personnalisé des patients en kinésithérapie. Son objectif principal est d'améliorer la qualité des services en permettant un suivi individualisé et adapté aux besoins spécifiques de chaque patient.</p>

                <p>2.1.2. Les informations recueillies via la Plateforme Korima Tech sont destinées exclusivement à optimiser la prestation des services de kinésithérapie. Ces données ne seront en aucun cas partagées avec des tiers sans ton consentement explicite, conformément à notre politique de confidentialité.</p>

                <p>2.1.3. Ton consentement sera sollicité de manière claire et transparente avant toute collecte d'informations ou partage de données, conformément aux réglementations de protection des données en vigueur.</p>

                <h3>2.2. Limites des Conseils et Informations</h3>

                <p>2.2.1. Les conseils et informations fournis sur la Plateforme Korima Tech sont destinés à compléter le suivi médical, mais en aucun cas, ils ne doivent être interprétés comme un substitut à l'avis, au diagnostic ou au traitement d'un professionnel de la santé qualifié.</p>

                <p>2.2.2. Il est impératif de comprendre que la Plateforme Korima Tech ne remplace pas la consultation directe d'un professionnel de la santé. Tous les utilisateurs de la Plateforme sont fortement encouragés à consulter régulièrement leur kinésithérapeute ou tout autre professionnel de la santé qualifié pour des conseils médicaux spécifiques.</p>

                <p>2.2.3. Les recommandations et informations fournies sur la Plateforme Korima Tech sont générales et ne tiennent pas compte des particularités individuelles de chaque patient. Elles ne peuvent pas substituer l'évaluation approfondie d'un professionnel de la santé qui dispose d'une connaissance complète de l'état de santé du patient.</p>

                <p>En acceptant ces conditions, tu reconnais la nature complémentaire des services fournis par la Plateforme Korima Tech et acceptes l'importance de consulter un professionnel de la santé qualifié pour des conseils médicaux spécifiques adaptés à ta situation individuelle.</p>

                <h2>3. Confidentialité et Protection des Données (Korima Tech)</h2>

                <h3>3.1. Engagement envers la Confidentialité</h3>

                <p>3.1.1. Korima Tech s'engage fermement à protéger la confidentialité de tes données. Notre engagement repose sur des normes strictes de sécurité et de confidentialité conformes aux meilleures pratiques de l'industrie et aux lois applicables.</p>

                <p>3.1.2. Pour plus de détails sur notre approche en matière de confidentialité, veuillez consulter notre politique de confidentialité intégrée à la Plateforme Korima Tech. Cette politique fournira des informations détaillées sur la manière dont nous collectons, utilisons, stockons et protégeons tes données.</p>

                <h3>3.2. Consentement à la Collecte, au Stockage et au Traitement des Données</h3>

                <p>3.2.1. En utilisant la Plateforme Korima Tech, tu consens expressément à la collecte, au stockage et au traitement de tes données conformément à notre politique de confidentialité.</p>

                <p>3.2.2. La collecte de données a pour objectif principal d'optimiser le suivi personnalisé en kinésithérapie, en fournissant des informations adaptées à tes besoins spécifiques. Ces données sont traitées de manière confidentielle et ne seront pas utilisées à des fins autres que celles explicitement autorisées par toi.</p>

                <p>3.2.3. Ton consentement préalable sera sollicité pour toute utilisation de données qui va au-delà des fins initialement déclarées. Tu as le droit de révoquer ce consentement à tout moment en accord avec les procédures définies dans notre politique de confidentialité.</p>

                <p>3.2.4. Nous mettons en place des mesures de sécurité robustes pour protéger tes données contre tout accès non autorisé, divulgation ou altération. Tout accès aux données est limité aux employés autorisés et nécessite une justification légitime.</p>

                <p>En acceptant ces conditions, tu déclares avoir pris connaissance de notre politique de confidentialité et consens expressément à la collecte, au stockage et au traitement de tes données conformément aux dispositions énoncées dans ladite politique.</p>

                <h2>4. Propriété Intellectuelle (Korima Tech)</h2>

                <h3>4.1. Protection des Droits de Propriété Intellectuelle</h3>

                <p>4.1.1. La Plateforme Korima Tech, ainsi que tout son contenu, sont protégés par des droits de propriété intellectuelle, notamment des droits d'auteur, des marques de commerce, des brevets et d'autres droits liés à la propriété intellectuelle.</p>

                <p>4.1.2. Tous les droits de propriété intellectuelle sur la Plateforme Korima Tech, y compris mais sans s'y limiter, le code source, les graphiques, les interfaces utilisateur, les textes, les images et les logos, sont la propriété exclusive de Korima Tech ou de ses concédants de licence.</p>

                <h3>4.2. Restrictions d'Utilisation</h3>

                <p>4.2.1. En utilisant la Plateforme Korima Tech, tu t'engages à respecter scrupuleusement les droits de propriété intellectuelle qui lui sont associés.</p>

                <p>4.2.2. Tu t'interdis expressément de copier, reproduire, distribuer, publier, transférer, vendre ou créer des œuvres dérivées à partir de tout élément de la Plateforme Korima Tech sans l'autorisation préalable écrite de Korima Tech.</p>

                <h3>4.3. Autorisation et Utilisation Légitime</h3>

                <p>4.3.1. Toute utilisation de la Plateforme Korima Tech doit être conforme aux présentes conditions d'utilisation et ne doit pas enfreindre les droits de propriété intellectuelle de Korima Tech.</p>

                <p>4.3.2. Si tu souhaites obtenir l'autorisation d'utiliser des éléments spécifiques de la Plateforme Korima Tech d'une manière qui n'est pas expressément autorisée par ces conditions, tu dois contacter Korima Tech pour demander une autorisation écrite.</p>

                <h3>4.4. Protection des Droits de Korima Tech</h3>

                <p>4.4.1. Korima Tech se réserve le droit de prendre des mesures légales appropriées en cas de violation de ses droits de propriété intellectuelle par un utilisateur. Cela peut inclure des poursuites judiciaires pour obtenir des réparations et des dommages-intérêts.</p>

                <p>4.4.2. En cas de constatation d'une utilisation non autorisée ou contraire aux droits de propriété intellectuelle de Korima Tech, nous nous réservons le droit de suspendre ou de résilier l'accès à la Plateforme et de prendre d'autres mesures appropriées pour protéger nos droits.</p>

                <p>En acceptant ces conditions, tu reconnais la propriété exclusive des droits de propriété intellectuelle de Korima Tech sur la Plateforme et t'engages à respecter ces droits conformément aux dispositions énoncées dans ces conditions d'utilisation.</p>

                <h2>5. Modifications des Conditions d'Utilisation (Korima Tech)</h2>

                <h3>5.1. Droit de Modification des Conditions</h3>

                <p>5.1.1. Korima Tech se réserve expressément le droit de modifier les présentes conditions d'utilisation à tout moment et sans préavis préalable. Ces modifications peuvent être motivées par des évolutions légales, des améliorations de la Plateforme, ou d'autres considérations pertinentes.</p>

                <p>5.1.2. Les modifications apportées aux conditions d'utilisation seront effectives dès leur publication sur la Plateforme Korima Tech. Il est de la responsabilité des utilisateurs de consulter régulièrement les conditions d'utilisation pour prendre connaissance de toute modification.</p>

                <h3>5.2. Notification des Modifications</h3>

                <p>5.2.1. Bien que nous nous efforcions de communiquer les modifications de manière claire, il est recommandé aux utilisateurs de vérifier régulièrement les conditions d'utilisation pour rester informés des éventuelles modifications.</p>

                <p>5.2.2. Les modifications substantielles, impactant significativement les droits et obligations des utilisateurs, pourront faire l'objet d'une notification spécifique via les moyens de communication disponibles sur la Plateforme.</p>

                <h3>5.3. Acceptation des Conditions d'Utilisation Modifiées</h3>

                <p>5.3.1. En continuant d'utiliser la Plateforme Korima Tech après la publication de modifications des conditions d'utilisation, tu consens à ces modifications et acceptes d'être lié par les conditions mises à jour.</p>

                <h3>5.4. Suspension ou Résiliation en Cas de Non-Respect</h3>

                <p>5.4.1. En cas de non-respect des conditions d'utilisation, Korima Tech se réserve le droit de prendre des mesures appropriées, y compris la suspension ou la résiliation de ton accès à la Plateforme.</p>

                <p>5.4.2. La suspension ou la résiliation du compte peut intervenir sans préavis en cas de violation grave ou répétée des conditions d'utilisation.</p>

                <p>En acceptant ces conditions, tu reconnais la possibilité de modifications et t'engages à vérifier régulièrement les conditions d'utilisation pour rester informé. Tout usage continu de la Plateforme après des modifications constitue une acceptation des conditions d'utilisation modifiées.</p>
                
            </div>    
        </div>
    </div>
    <!-- Services End -->

{% endblock %}



{% block newsletter %}
<br><br>
{% endblock %}
